@import "src/assets/styles/main";
.favorites {
  @include flexible($fd: column);
  padding: 0 32px;
  &__title {
    margin-top: 36px;
    font-family: 'NT Somic-Bold', sans-serif;
  }
  &__items {
    margin-top: 28px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}