@import "src/assets/styles/main";

.edit-page {
  @include flexible($fd: column);
  padding: 32px 32px;
  width: 100%;
  &__content {
    @include flexible($fd: column);
    width: 100%;
    margin-top: 16px;
  }

  &__header {
    width: 100%;
    @include flexible($fd: row, $jc: space-between);
    &__btns {
      @include flexible($fd: row, $gap: 16px);
    }
    &__btn {
      @include flexible($fd: row, $gap: 8px);
      cursor: pointer;
    }
  }
}