@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('src/assets/fonts/#{$url}.ttf') format('truetype');
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}

@include font-face('NT Somic', 'NTSomic-Regular', 400);
@include font-face('NT Somic-Bold', 'NTSomic-Bold', 400);
@include font-face('Lato', 'Lato-Regular', 400);
